/* ==========================
TOP BAR
========================== */

.top-bar{
    background:#006241;
    color:white;
    text-align:center;
    padding:10px;
    font-size:14px;
    font-weight:500;
}


/* ==========================
NAVBAR
========================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:white;

    z-index:999;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}


.nav-top{

    display:flex;

    justify-content:center;

    padding:18px 0;

    border-bottom:1px solid #ececec;

}

.logo{

    text-decoration:none;

    color:#000;

    font-size:28px;

    font-weight:700;

    letter-spacing:3px;

}


.nav-bottom{

    display:flex;

    justify-content:center;

    align-items:center;

    height:60px;

}


#navMenu{

    display:flex;

    gap:45px;

}


#navMenu a{

    color:#1e3932;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

    position:relative;

}


#navMenu a:hover{

    color:#006241;

}


#navMenu a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#006241;

    transition:.3s;

}


#navMenu a:hover::after{

    width:100%;

}


/* ==========================
BURGER
========================== */

.menu-toggle{

    display:none;

    border:none;

    background:none;

    font-size:28px;

    cursor:pointer;

}



/* ==========================
MOBILE
========================== */

@media(max-width:768px){

.top-bar{

display:none;

}

.nav-top{

justify-content:space-between;

padding:15px 20px;

border:none;

}

.logo{

font-size:24px;

letter-spacing:2px;

}

.menu-toggle{

display:block;

}

.nav-bottom{

display:block;

height:auto;

}

#navMenu{

display:none;

flex-direction:column;

background:white;

padding:15px 0;

border-top:1px solid #eee;

}

#navMenu.active{

display:flex;

}

#navMenu a{

padding:15px 25px;

}

}
